<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
	<div id="rating-form">
		<!-- <label>Rating</label> -->
    	<%= f.input :rating %>
	</div>
	<%= f.input :comment %>
	<%= f.button :submit, :class => "btn-custom2" %>
<% end %>
